*, html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
.container {
	width: 100%;
	position: fixed;
	background-color: lightgrey;
	display: flex;
	top: 0;
	left: 0;
	/*justify-content: center;
	align-items: center;*/
}

.wrapper {
	width: 100%;
	height: 80px;
	background-color: rgb(52, 52, 52);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	padding: 15px;
	box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
	display: flex;
	flex-direction: row;
	font-size:1.5em;
	padding: 15px;
	text-transform: capitalize;
}

.firstname {
	color: white;
	font-weight: 800;
	
}

.lastname {
	color: rgb(255, 153, 0);
	font-weight: 800;
	padding-left: 10px;
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation > li {
	list-style-type: none;
	padding: 15px;
	}
.navigation > li > a {
	font-size: 25px;
	color: white;
	text-decoration: none;
	text-transform: capitalize;
}

.navigation > li > img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.navigation > li > img:hover  {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	transition: all .3s ease-in-out;
}
.active {
	color: white;
	padding: 15px;
	background-color: rgb(255, 153, 0);
}
.navigation > li > a:hover {
	color: rgb(255, 153, 0);
	transition: all .3s ease-in-out;
}

.active:hover {
	color: white !important;
}

.main {
	margin-top: 150px;
	padding: 10px;
	float: left;

}

h2 {
	font-weight: 20px;
	font-size: 25px;
	font-family: times new roman;
}
.penulis a {
	text-decoration: none;
	color: black;
	font-family: times new roman;

}
p {
	margin-top: 10px;
	text-align: justify;
		text-indent: 25px;
	font-family: times new roman;
	font-size: 18px;
	padding: 5px;
}

.sidebar {
	float: right;
	width: 300px;
	padding: 10px;
}

h5 {
	font-family: times new roman;
	font-size: 18px;

}